.buttons {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;

    button {
        background: white;
        box-shadow: 0 0 10px #ccc;
        border: none;
        border-radius: 5px;
        padding: 5px 0;
        max-width: 200px;
        margin-top: 30px;
        outline-color: black;
    }

    button:active {
        background: #ddd;
    }
}
